<div class="table-auto">
  
<div class="overflow-x-auto relative shadow-md">
  <div class="flex justify-between items-center p-4 bg-white dark:bg-gray-800">
      <!-- <label for="table-search" class="sr-only">Search</label>
      <div class="relative">
          <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
              <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
          </div>
          <input type="text" id="table-search-users" class="block p-2 pl-10 w-80 text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search for users">
      </div> -->
      <h1 class="text-xl text-white">List of Movies</h1>
  </div>
  
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
              <th scope="col" class="py-3 px-6">
                  Title of the Movie
              </th>
              <th scope="col" class="py-3 px-6">
                  Type of the Movie
              </th>
              <th scope="col" class="py-3 px-6">
                  Year
              </th>
          </tr>
      </thead>
      <tbody>
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600" *ngFor="let movie of moviesList">
              <th scope="row" class="flex items-center py-4 px-6 text-gray-900 whitespace-nowrap dark:text-white" >
                  <img class="w-10 h-10 rounded-md" [src]="movie.i.imageUrl" >
                  <div class="pl-3 cursor-pointer">
                      <div class="text-base font-semibold hover:underline" (click)="OnMovieDetails(movie)">{{movie.l}}</div>
                      <div class="font-normal text-gray-500">{{movie.s}}</div>
                  </div>  
              </th>
              <td class="py-4 px-6">
                {{movie.q | uppercase}}
              </td>
              <td class="py-4 px-6">
                {{movie.y}}
              </td>
          </tr>
         
      </tbody>
  </table>


</div>
